@font-face {
  font-family: "TT Lakes", sans-serif;
  src: url("./assets/fonts/TTLakesCompressed-Regular.eot") format("eot");
  src: local("TT Lakes"),
    url("./assets/fonts/TTLakesCompressed-Regular.woff") format("woff"),
    url("./assets/fonts/TTLakesCompressed-Regular.eot") format("eot"),
    url("./assets/fonts/TTLakesCompressed-Regular.ttf") format("truetype"),
    url("./assets/fonts/TTLakesCompressed-Bold.eot") format("eot"),
    url("./assets/fonts/TTLakesCompressed-Bold.woff") format("woff"),
    url("./assets/fonts/TTLakesCompressed-Bold.ttf") format("truetype"),
    url("./assets/fonts/TTLakesCompressed-Medium.woff") format("woff"),
    url("./assets/fonts/TTLakesCompressed-Medium.eot") format("eot"),
    url("./assets/fonts/TTLakesCompressed-Medium.ttf") format("truetype");
}
